.sidebar {
background:#FFFFFF;
padding: 20px 0;
border-right: 1px solid #E9EAEB;
display: flex;
flex-direction: column;
}

.sidebar-header {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sidebar-branding {
    display: flex;
    align-items: center;
    gap: 11px;
}
.sidebar-logo {
    height: 32px;
    width: 29px;
}

.sidebar-title {
    font-size: 24px;
    font-weight: 100;
    color: #181D27;
}

.sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
    width: 202px;
    margin: 0 20px;
    padding: 0 15px;
    border: 1px solid #D5D7DA;
    border-radius: 8px;
    
}
.sidebar-username {
    width: 155px;
    font-size: 16px;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sidebar-drop-icon {
    width: 14px;
    height: 8px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0 15px;
    margin-top: 20px;
}
.sidebar-item {
    border-radius: 8px;
    height: 44px;
}
.sidebar-item__active {
    background-color: #1570EF;
    color: #FFFFFF;
}
.sidebar-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 14px;
    height: 44px;
    padding: 0 14px;
   
}
.sidebar-icon {
    height: 18px;
    width: 18px;
}
.sidebar-text {
font-size: 16px;
line-height: 24px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    padding: 10px 10px 10px 20px;
}
.sidebar-footer-item {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 44px;
    width: 210px;
    padding: 0 12px;
}
.sidebar-footer-text {
    font-weight: 500;
}
.sidebar-toggler {
    display: none;
   }


@media (max-width: 480px) {
    .sidebar {
        border-bottom: 2px solid  #E9EAEB;
        padding: 20px 0 0 0;
        position: relative;
       
    }
    .sidebar-header {
        padding: 0 15px;
        position: relative;
    }
    .sidebar-user {
        width: 100%;
    }
    .sidebar-branding {
        width: 100%;
        justify-content: flex-start;
    }
  
   .sidebar-toggler {
    display: block;
    margin-left: auto;
   }
  
}